@import url('./apps/keep/cmps/note.css');

/* @import url('./apps/keep/cmps/note-list.css'); */

/* BASICS */


/* LAYOUT */
.note-list{
/* display: flex; */
vertical-align: baseline;
clear: both;
height: min-content;
}
/* COMPONENTS */
.add-note{
    background-color: unset;
    border-radius: 50%;
    color: inherit;
    border: none;
}
/* Main content */

/* HELPERS */
.relative{
    position: relative;
}

/* flex-helpers */
