.nav-bar .toggler {
    position: absolute;
    /* left: 0;
    top: 0; */
    z-index: 2;
    cursor: pointer;
    height: 50px;
    width: 50px;
border: 1px red;
outline: red;}

.burger-container {
    width: 23px;
    height: 16px;
    position: relative;
    display: inline-block;
    /* bottom: -50%; */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
}

 .burger-container>div {
    position: absolute;
    top: 0px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    opacity: 1;
    border-radius: 1px;
    transform: rotate(0);
    transition: .3s ease-in-out;
    transform-origin: left center;
}

.burger-container div:nth-child(1) {
    top: 0;
}

.burger-container div:nth-child(2) {
    top: 7px;
}

.burger-container div:nth-child(3) {
    top: 14px;
}

.toggler:checked +.burger-container div:nth-child(1) {
    left: 4px;
    transform: rotate(45deg);
}

.toggler:checked +.burger-container div:nth-child(2) {
    width: 0;
    opacity: 0;
}

.toggler:checked +.burger-container div:nth-child(3) {
    transform: rotate(-45deg);
    left: 4px;
    top: 100%;
}
.toggler:checked ~li{
    background-color: royalblue;
    opacity: 1;
}
/* breakpoint hide = 1023W, grow, 767 */



@media (min-width:768px) {
    .burger-container {
        height: 18px;
        width: 27px;
    }
    .burger-container div:nth-child(1) {
        top: 0;
    }
    .burger-container div:nth-child(2) {
        top: 8px;
    }
    .burger-container div:nth-child(3) {
        top: 16px;
    }

}

@media (min-width:1024px) {
    .burger-container {
        display: none;
    }
}