

.email-app{
    display: flex;
}

.email-app button{
    background-color: orchid;
}

.side-bar{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.email-list{
    flex-grow: 1;
}

.email-sender{
    width:150px;
}

.email-preview div{
    display:flex;
}

.email-body{
    color:lightgrey;
    flex-grow: 1;
}

.email-sent-at{
    width:50px;
}