

.email-app{
    display: flex;
}

.email-app button{
    background-color: orchid;
}

.side-bar{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.email-status{
    width: 100px;
    background-color: rgb(231, 225, 225);
    color: black;
    height: 20px;
}
.email-status .read-percent{
    background-color: rgba(116, 25, 116, 0.5);
    display: inline-block;
    height: 20px;
}

.email-list{
    flex-grow: 1;
}

.email-sender{
    width:150px;
}

.email-preview div{
    display:flex;
}

.email-body{
    color:lightgrey;
    flex-grow: 1;
}

.email-sent-at{
    width:50px;
}

.not-read{
    font-weight: bold;
}