.email-preview section{
    height: 1.6rem;
}

.email-preview .sender{
    width:150px;
}

.email-preview div{
    display:flex;
}

.email-preview .body{
    color:lightgrey;
    flex-grow: 1;
}

.email-preview .sent-at{
    width:50px;
}

.email-preview .not-read{
    font-weight: bold;
}