/* flex-helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.wrap {
    flex-wrap: wrap;
}
