header {
    background-color: #252525;
    height: 80px;
    box-shadow: inset 0 -6px rgb(30, 30, 30);
}

@media (min-width:1024px) {
    header {
        height: 100px;
    }
}
/* 
header * {
    border: 1px solid orange;
} */

.nav-bar {
    height: 100%;
    margin-bottom: 0.67em;
}

.nav-bar, .nav-bar .nav-menu {

    flex-direction: column;
}

.nav-bar .nav-menu .active {
    color: #2f86ff;
    box-shadow: inset 0 -6px #2f86ff;
}

.burger-container {
    margin-right: 25px;
}

@media (min-width:1024px) {
    .nav-bar {
        flex-direction: unset;
    }
    .burger-package {
        display: none;
    }
}

.nav-bar .nav-menu :hover {
    text-decoration: underline;
}

.nav-bar .toggler~.nav-menu {
    visibility: hidden;
    width: 0;
    /* height: 0; */
}

.toggler:checked~.nav-menu li, .toggler:checked~.nav-menu li a {
    opacity: 1;
    display: flex;
    visibility: visible;
}


.nav-bar .toggler~.nav-menu * {
    background-color: #252525;
    /* transition: 1s ease */
}
.toggler:checked~.nav-menu {
    border: 1px solid gray;
    width: 80px;
    visibility: visible;
    height: min-content;
    position: relative;
    z-index: 1;
}

@media (min-width:1024px) {
    .nav-bar .toggler~.nav-menu {
        height: 100px;
        width: unset;
        visibility: visible;
        flex-direction: unset;
        border: none;
    }
    .nav-bar .toggler~.nav-menu * {
        background-color: unset;
    }
}

/* .nav-bar .toggler:checked~.nav-menu {
    height: 100%;
} */

.nav-menu, .nav-menu li .nav-menu li a {
    height: 100%;
}

.nav-menu li a {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: 2rem;
    width: 100%;
}

@media (min-width:768px) {
    .nav-menu li a {
        width: 80px;
        height: 80px;
    }
}

@media (min-width:1024px) {
    .nav-menu li a {
        width: 100px;
        height: 100px;
    }
}

/* 
.nav-bar aside {
    background-color: #3a3b3c;
    padding: 10px;
    border-radius: 2em;
} */

/* 
.nav-bar .menu.x {
    display: flex;
    opacity: 1;
    position: absolute;
    top: 100%;
    max-width: 50vw;
    text-align: center;
} */

/* .toggler ~ul li,.toggler ~ul li a{
    height: 0;
    display: none;
} */